<ion-view class="whitecolor" view-title="Beer By Color">
    <ion-content class="bodyBackground">
    <div style="text-align: center;">
        <img src="img/loader.svg" data-ng-show="loading" data-ng-show="loading=true">
    </div>
        <div class="list card" data-ng-repeat="beer in beerList">
            <div class="item-avatar item">
                <img data-ng-show="beer.isOrganic" data-ng-src="{{getOrganic(beer)}}">
                <div>
                    <h2>{{beer.nameDisplay}}</h2>
                    <p>{{beer.style.name}}</p>
                </div>
            </div>
            <div class="item item-body">
                <img style="max-height: 100%;max-width: 100%" data-ng-show="beer.labels.icon" data-ng-src="{{beer.labels.icon}}">
                <p data-ng-show="beer.available.description"><strong>Availability</strong></p>
                <p data-ng-show="beer.available.description"> {{beer.available.description}}</p>
                <p data-ng-show="beer.description"><strong>Description</strong></p>
                <p data-ng-show="beer.description">
                    {{beer.description}}
                </p>
                <p data-ng-show="beer.style.description"><strong>Style</strong></p>
                <p data-ng-show="beer.style.description">
                    {{beer.style.description}}
                </p>
                <a href="#" class="subdued" data-ng-show="beer.abv"><strong>Alcohol</strong> {{beer.abv}}%</a>
                <div class="subdued" style="text-align: center;" data-ng-style="{{getBackground(beer)}}">Color</div>
            </div>
        </div>
    </ion-content>
</ion-view>